@import '../../styles/colors';

.error-popup-base {
    border-radius: 8px;
    box-shadow: 0 0 24px -4px rgba(0, 0, 0, 0.12);
    background: $color-white;
    margin-top: 10%;
    margin-left: 30%;
    padding: 20px;
    width: 500px;
    font-size: 14px;
}