//COLORS
//$primary-color: #0095da;
$color-grey: #ddd;
$color-grey-dark1: #bbb;
$color-grey-dark2: #aaa;
$color-grey-dark3: #888;
$color-grey-dark4: #666;


//From Zeplin
$background-color: #f5f5f5;
$color-orange: #f37021;
$color-white: #ffffff;
$color-red: #ed1c24;
$color-black: rgba(0, 0, 0, 0.87);
$color-blue-1: #0eb3ff;
$color-blue-2: #41c3ff;
$color-blue-3: #0095da;
$color-blue-4: #0072a7;
$color-grey-light: #f1f1f1;
$color-grey-lighter: #eaeff3;
$color-grey-lightest: #fefefe;
$color-grey-lightest-1: #e0e0e0;
$color-grey-lightest-2: #d8d8d8;
$color-grey-dark: #9b9b9b;
$color-grey-darker: #4d4d4d;
$color-grey-darkest: #424242;
$color-grey-shade: rgba(0, 0, 0, 0.38);
$color-grey-shade-1: rgba(0, 0, 0, 0.6);
$color-green: #8bc63f;
$color-green-light: #daedc2;


